@using WC.YouthLearning.Models
@model List<student>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .del {
        display: none;
    }

    .delall {
        display: none;
    }
</style>
<div class="container-xl my-xl-2 con ">
    <div class="row justify-content-center ">
        <div class="col-lg-9 col-12   my-xl-2  ">
            <div class="pt-3 col-12 shadow-sm text-left bg-white">
                <div>
                    <h4><strong><em>5.0V</em>开始</strong></h4>

                    <form class="p-2" method="post" action="/UploadImage/Index" enctype="multipart/form-data">

                      
                            @*<p>第一步： <input type="text" class="form-control" name="name" id="name" placeholder="请输入你的姓名" /></p>*@
                           
                                <div>
                                    <label class="form-inline">第一步：<input type="text" name="name" id="name" placeholder="请输入你的姓名" class="form-control" /></label>
                                </div>
                  
                        <div>
                            <p>第二步：<label class="btn btn-primary" for="uploadFile">选择图片</label></p>
                            <input style="display: none;" type="file" id="uploadFile" class="clip" accept="image/*">
                            <div id="imgUploadX"></div>
                        </div>
                        <div >
                            <p>第三步：<input class="btn btn-primary" type="submit" value="确认提交" /></p>
                        </div>
                    </form>
                    <a class="text-info">详细了解</a>
                    <hr>
                </div>
                <div>
                    <h4><strong>未提交学生</strong></h4>
                    @foreach (student k in Model)
                    {
                        @if (k.sub == 0)
                        {
                            <a class="btn btn-outline-warning text-warning">@k.sid@k.name</a>
                        }
                    }
                    <p><a class="text-info">详细了解</a></p>
                    <hr>
                </div>
                <div>
                    <h4><strong>已提交学生</strong></h4>
                    @foreach (student k in Model)
                    {
                        @if (k.sub == 1)
                        {
                            <a href="/Home/Show/@k.id" class="btn btn-outline-primary text-primary">@k.sid@k.name</a>
                        }
                    }
                    <p><a class="text-info">详细了解</a></p>
                    <hr>
                </div>
                <div>
                    <h4><strong>其他补充</strong></h4>
                    <p>我们将会在接下来的版本进行更新</p>
                    <a class="text-info">详细了解</a>
                    <hr>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-12 my-xl-2 row">
            <div>
                <div class="pt-3  col-12 shadow-sm text-center bg-white">
                    <div class="row   ">
                        <div class="col-xl-3 col-lg-6 col-3">
                            <img src="\images\分享共享.png" class="figure-img img-fluid rounded" alt="...">
                            <a href="/UploadImage/CreateZip"><figcaption class="figure-caption">下载数据</figcaption></a>
                        </div>
                        <div class="col-xl-3  col-lg-6 col-3">
                            <img src="\images\列表清单.png" class="figure-img img-fluid rounded" alt="...">
                            <a href="/Home/ResetAll"><figcaption class="figure-caption">重置提交</figcaption></a>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-3">
                            <img src="\images\通知公告.png" class="figure-img img-fluid rounded" alt="...">
                            <a href="/UploadImage/DeleteAll"> <figcaption class="figure-caption ">重置文件</figcaption></a>
                        </div>
                        <figure class="col-xl-3 col-lg-6 col-3">
                            <img src="\images\邮件邮箱.png" class="figure-img img-fluid rounded" alt="...">
                            <a href="/Home/Mail"><figcaption class="figure-caption">邮件提醒</figcaption></a>
                        </figure>
                    </div>

                    <div class="row">
                        <div class="col-6 border-top p-2">
                            管理员
                        </div>
                        <div class="col-6 border-top border-left p-2">
                            究极权限
                        </div>
                    </div>
                </div>

                <div class="pt-3 my-2 col-12  shadow-sm text-center bg-white">
                    <div class="row border-bottom">
                        <div class="col-12 ">
                            <p><img style="height:24px" src="\images\sub_account.png" class="img-fluid" />数据中心</p>
                        </div>
                    </div>
                    <div class="row my-2 " style="color:darkgray">
                        <div class="col-6 border-right p-2">
                            <a>提交总数</a><br />
                            <a class="text-primary"><strong id="sc"></strong></a><br />
                            <a><small>较前日上升<span class="text-primary">123%</span></small></a>
                        </div>
                        <div class="col-6 p-2">
                            <a>未提交数</a><br />
                            <a class="text-primary"><strong id="nsc"></strong></a><br />
                            <a><small>较前日上升<span class="text-primary">123%</span></small></a>
                        </div>
                    </div>
                    <div class="row border-top pt-2
">
                        <div class="col-12 ">
                            <p>腾讯云安全保护中</p>
                        </div>
                    </div>
                </div>

                <div class="my-2 col-12 shadow-sm">
                    <div class="row">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="\images\3e3ce85346f6b5b9a3eb53d813d47780.jpeg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="\images\22a9106001f83c855e968d90c66d8cc8.jpeg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="\images\d7aa640a17da9cf651edaa48f49d0870.jpeg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var eleUploadFile = document.getElementById('uploadFile');
    var eleImgUploadX = document.getElementById('imgUploadX');
    if (history.pushState) {
        eleUploadFile.addEventListener('change', function (event) {
            var reader = new FileReader();
            var file = event.target.files[0] || event.dataTransfer.files[0];
            reader.onload = function (e) {
                var base64 = e.target.result;
                if (false) {
                    alert('图片尺寸请小于500K');
                    return;
                } else {
                    // 使用canvas合成图片，并base64化
                    imgTogether(base64, function (url) {
                        // 尺寸
                        var size = 180 / (window.devicePixelRatio || 1);
                        // 预览
                        event.target.files[0] = url;
                        eleImgUploadX.innerHTML = '<img  src="' + url + '" width="' + 648 + '" height="' + 1404 + '"><input style="display:none" id="myimg" name="myimg"  type="text" value="' + url + '"/>'
                    });
                }
            };
            reader.readAsDataURL(file);
        });

        // canvas图片合成
        var imgTogether = function (url, callback) {
            var canvas = document.createElement('canvas');
            var size = 500;
            canvas.width = 648;
            canvas.height = 1404;

            var context = canvas.getContext('2d');

            // 这是上传图像
            var imgUpload = new Image();
            imgUpload.setAttribute("crossOrigin", 'Anonymous');
            imgUpload.onload = function () {
                // 绘制
                //context.drawImage(imgUpload, 0, 0, size, size, 0, 0, 720, 1080);
                context.drawImage(imgUpload, 0, 0, 648, 1404);
                // 再次绘制
                var imgname = document.getElementById('name').value;
                context.font = "50px Verdana";
                context.fillStyle = "red";
                context.fillText(imgname, 10, 50, 250);
                // 回调
                callback(canvas.toDataURL('image/png'));
            };
            imgUpload.src = url;
        };
    } else if (eleImgUploadX) {
        eleImgUploadX.className = 'remind';
        eleImgUploadX.innerHTML = '本演示IE10+下才有效果';
    }
</script>
<script>
    $(function () {
        $(".outlogin").hide();
        //$(window).resize(function () {
        //    if (screen.width >= 1200) {
        //        $(".con").addClass("container");
        //    } else if (screen.width >= 992) {
        //        $(".con").removeClass("container");
        //    } else {
        //        $(".con").removeClass("container");
        //    }
        //})
        $.get("/Home/Exite", function (data) {
            console.log(data);
            if (data == "ok") {
                $(".del").show();
                $(".delall").show();
                $(".adminlogin").hide();
                $(".outlogin").show();
            }
        }
        );

        $.get("/Home/SubTotal", function (data) {
            console.log(data);
            $("#sc").text(data);
        }
        );
        $.get("/Home/NotSubTotal", function (data) {
            console.log(data);
            $("#nsc").text(data);
        }
        );


    });
</script>
<script>
    var a = 100;
    var b = 100;
    var g = 100;
    var mya = 0;
    var myb = 0;
    var myg = 0;
    var myVar = setInterval(function () { myTimer() }, 100);
    function myTimer() {
        if ((mya != a) && (myb != b) && (myg != g)) {
            if (a > mya) {
                mya = mya + 1;
                // document.getElementById("m1").innerText = a+" "+ mya;
            }
            else mya--;
            if (b > myb) {
                myb = myb + 1;
                // document.getElementById("m2").innerText =b+" "+ myb;
            }
            else myb--;
            if (g > myg) {
                myg = myg + 1;
                //document.getElementById("m3").innerText =g+" "+ myg;
            }
            else myg--;
            //变化颜色
            document.getElementById("tit").style.color = "rgb(" + mya + "," + myb + ", " + myg + ")";
        }
        else {
            der();
        }

    }
    function der() {
        a = Math.floor(Math.random() * 256);
        b = Math.floor(Math.random() * 256);
        g = Math.floor(Math.random() * 256);
    }
</script>