<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <title>截图上传系统</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
    <style>
        .swag {
            background: url(http://browser9.qhimg.com/bdm/1000_618_80/t016ad88ddaf2ae2d92.jpg) no-repeat center center;
            background-size: cover;
            background-attachment: fixed;
            padding: 50px 0;
        }
    </style>
</head>
<body class="" style="        height: 1800px;
        background-color: #F6F6F6;overflow-x:hidden
">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <a class="navbar-brand" href="#"><strong id="tit">江西服装学院软件1班</strong></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">主页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">仓库</a>
                </li>
                <li class="nav-item outlogin">
                    <a class="nav-link" href="/Home/OutLogin">注销登入</a>
                </li>
                <li class="nav-item dropdown adminlogin">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        管理员登录
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form class="px-4 py-3" method="post" action="/Home/Login">
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail1">管理员学号</label>
                                <input type="text" class="form-control" name="uname" id="exampleDropdownFormEmail1" placeholder="管理员学号">
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword1">密码</label>
                                <input type="password" class="form-control" name="pwd" id="exampleDropdownFormPassword1" placeholder="密码">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    记住我
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">登入</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">没有账号？现在<span class="text-primary">不给注册</span></a>
                        <a class="dropdown-item" href="#">忘记密码?</a>
                    </div>
                </li>
                <!--<li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>-->
            </ul>

        </div>
        <form class="form-inline my-2 my-lg-0 d-none d-lg-block">
            <input class="form-control mr-sm-2" type="search" placeholder="学生学号" aria-label="学生学号">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索学生</button>
        </form>
    </nav>
    @RenderBody()


    @RenderSection("Scripts", required: false)
    <footer class="col text-center" style="color:darkgray">
        <hr />
        <a> 大数据学院 &nbsp;</a> 
        <a>&copy; 2020 - 饭桶爱大米 &nbsp;</a>
        <a style="color:darkgray" href="http://www.beian.miit.gov.cn/">赣ICP备20007874号</a> <br />
        <a style="color:darkgray" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=36012102000233">
            <img src="D:\Download\备案图标.png" />
            赣公网安备 36012102000233号
        </a>
        <br />
        <a>友情链接：</a><a style="color:darkgray" href="http://yicraftcore.com/">意界</a>
    </footer>
</body>
</html>
